@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #111827;
    --foreground: #f9fafb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-geist-mono), "Courier New", monospace;
    overflow-x: hidden;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
